@model JKimAssignment3.Models.Actor

@{
    ViewData["Title"] = "Create";
}

<body id="actorCreateIndex">
    <div class="container-fluid" id="centeredTopText">
        <h1>Add an Actor to the Film Library</h1>
        <p><i>Remember... the individual should be in a Wes Anderson movie</i></p>
    </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                    <img src="https://screenmusings.org/movie/blu-ray/The-Grand-Budapest-Hotel/images/The-Grand-Budapest-Hotel-026.jpg" width="100%"/>
                </div>
                <div class="col-4">
                    <img src="https://screenmusings.org/movie/blu-ray/The-Grand-Budapest-Hotel/images/The-Grand-Budapest-Hotel-036.jpg" width="100%"/>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Name</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label">Gender</label>
                        <input asp-for="Gender" class="form-control" />
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Age" class="control-label">Age</label>
                        <input asp-for="Age" class="form-control" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImdbLink" class="control-label">IMDb Link</label>
                        <input asp-for="ImdbLink" class="form-control" />
                        <span asp-validation-for="ImdbLink" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ActorImage" class="control-label">Image</label>
                        <input type="file" id="ActorImage" name="ActorImage" multiple class="form-control" />
                        <span asp-validation-for="ActorImage" class="text-danger"></span>
                    </div>
                    <br />
                    <div id="centeredItem">
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-dark btn-width" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
        <br />
        <div id="centeredItem">
            <h3>
                <i><a asp-action="Index">Back to List</a></i>
            </h3>
        </div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

</body>

