@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jaehee's Film Library</h1>
    <p><i>A website only useful for those who want to look at Wes Anderwson films and their respective actors</i></p>
</div>

<div id="homeIndexCards" class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img id="indexCardImage" class="card-img-top" src="https://media.vogue.fr/photos/5c3615905dbd0539e16e316b/master/w_2000,h_1125,c_limit/moonrise_kingdom_2412.jpeg?lang=eng" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Actor</h5>
                    <a href="#" class="btn btn-dark stretched-link">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img id="indexCardImage" class="card-img-top" src="https://galeriemagazine.com/wp-content/uploads/2018/12/the-grand-budapest-hotel-2-1-1920x1200.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Movie</h5>
                    <a href="#" class="btn btn-dark stretched-link">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img id="indexCardImage" class="card-img-top" src="https://galeriemagazine.com/wp-content/uploads/2018/12/the-grand-budapest-hotel-2-1-1920x1200.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Moves & Actors</h5>
                    <a href="#" class="btn btn-dark stretched-link">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>