@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_MyLayoutIndex.cshtml";
}

<div id="indexMain" class="text-center">
    <h1 class="display-4">Jaehee's Film Library</h1><br />
    <p><i>A website only useful for those who want to look at Wes Anderson films and their respective actors</i></p>
</div>

<div id="homeIndexCards" class="container">
    <div class="row">
        <div class="col-sm">
            <div id="indexImageAndLink">
                <img id="indexCardImage" src="~/images/TV2.png" alt="Fantastic Mr. Fox">
                <a asp-area="" asp-controller="Actor" asp-action="Index" id="indexLinkText" class="btn btn-dark stretched-link">Actors</a>
            </div>
        </div>
        <div class="col-sm">
            <div id="indexImageAndLink">
                <img id="indexCardImage" src="~/images/TV1.png" alt="Fantastic Mr. Fox">
                <a asp-area="" asp-controller="Movie" asp-action="Index" id="indexLinkText" class="btn btn-dark stretched-link">Movies</a>
            </div>
        </div>
        <div class="col-sm">
            <div id="indexImageAndLink">
                <img id="indexCardImage" src="~/images/TV3.png" alt="Fantastic Mr. Fox">
                <a asp-area="" asp-controller="MovieActor" asp-action="Index" id="indexLinkTextExtra" class="btn btn-dark stretched-link">Movies & Actors</a>
            </div>
        </div>
    </div>
</div>