@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jaehee's Film Library</h1>
    <p><i>A website only useful for those who want to look at Wes Anderwson films and their respective actors</i></p>
</div>